<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% if username %}
        <p>{{username}}，Welcome to the homepage！ <a href="{{ url_for('panel') }}">Personal information</a> <a href="{{ url_for('logout') }}">logout</a></p>
    {% else %}
        <p>Welcome to the homepage！ <a href="{{ url_for('login') }}">login</a> <a href="{{ url_for('regist') }}">Register</a></p>
    {% endif %}
</body>
</html>
