<!DOCTYPE html>
<html lang="en">
<head>
    <title>login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <form method="post" action='/login'>
        <label>Username：<input type="text" name="username" value=""></label><br>
        <label>Password：<input type="password" name="password" value=""></label><br>
        <input type="submit" value="login">
    </form>

    {% if error %}
        <p>{{error}}</p>
    {% endif %}
</form>
</body>
</html>
