<!DOCTYPE html>
<html lang="en">
<head>
    <title>Personal Information</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h3>Your own account information</h3>
    <p>Account Name：{{user.username}}</p>
    <p>Password：{{user.password}}</p>
    <p>Email：{{user.email}}</p>
    <p>Your subscription information：{{user.regist}}</p>
</body>
</html>
