<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <form method="post" action='/regist'>
        <label>User Name：<input type="text" name="username" value=""></label></br>
        <label>Password：<input type="password" name="password1" value=""></label></br>
        <label>insert password again：<input type="password" name="password2" value=""></label></br>
        <label>email：<input type="email" name="email" value=""></label></br>
        <div>subscribe?：</div></br>
        <input  name="hello" type="radio" value="None" checked>None<br/>
        <input  name="hello" value="1 month" type="radio">1 month<br/>
        <input  name="hello" value="6 months" type="radio">6 months<br/>
        <input  name="hello" value="1 year" type="radio">1 year<br/>
        <input  name="hello" value="2 years" type="radio">2 years<br/>
        <input type="submit" value="注册">
    </form>

    {% if error %}
        <p>{{error}}</p>
    {% endif %}
</body>
</html>
